<ion-header>
<!-- create the burger menu in the ion-toolbar -->
  <ion-toolbar color="success">
    <ion-buttons slot="start">
         <ion-menu-button>

         </ion-menu-button>
    </ion-buttons>
    <ion-title>Reciclica</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<!-- list information about the partner in home page -->
<ion-list color="success">
  <ion-item color="success">
    <ion-avatar slot="start">
      <img src="https://png.pngtree.com/png-clipart/20200224/original/pngtree-cartoon-color-simple-male-avatar-png-image_5230557.jpg"/>
    </ion-avatar>
    <ion-label>
      <h1>
        Bandile Mashile
      </h1>
      <p>
       Gathered : R1500
      </p>
    </ion-label>
  </ion-item>
</ion-list>

<!-- reusable card component for holding state with 
footer=button header=title -->
<app-pickup-card  status="hold" updatedAt="2022/06/12 16:04:00" createdAt="2022/06/12" 
notes=" we have two bags of trash one with plastic and one with glass inside" >
  <ion-card-header header>
    <ion-card-subtitle>
      Last pick up
    </ion-card-subtitle>
  </ion-card-header>

  <ion-button footer color="success" (click)="goToPickUpCalls()" fill="clear" size="full">See all..</ion-button>
</app-pickup-card>



<!-- add item button -->
<ion-fab vertical="bottom" horizontal="end"  slot="fixed">
    <ion-fab-button color="success" (click)="newPickUpCall()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <!-- <ion-fab-list side="end">
      <ion-fab-button><ion-icon name="logo-vimeo"></ion-icon></ion-fab-button>
    </ion-fab-list> -->
  </ion-fab>
</ion-content>
